
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
   
    margin: auto;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

body{
    font-size: 15px;
    line-height: 25px;
    color: #534D4D;
    background-color: #ffffff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: #534D4D;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

/*-- Section=1 start   Landing page part-1 etc comment */

.main-wrapper{
max-width: 1170px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;
}
.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;

}
.column{
    padding-right: 15px;
    padding-left: 15px;
}
.one-of-two{
    width: 50%;
}
.top{
    background-image: url(../images/Headerbg.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 37px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    
}
.navbar ul li a{
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
}
.login a{
   background-color: #FF8923;
   padding: 20px 60px;
   color: #ffffff;
   border-radius: 30px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 60px;
   box-shadow: 0px 15px 30px -15px rgba(255,137,35,0.75);
-webkit-box-shadow: 0px 15px 30px -15px rgba(255,137,35,0.75);
-moz-box-shadow: 0px 15px 30px -15px rgba(255,137,35,0.75);
}
.hero-text h2{
 font-size: 78px;
 line-height: 85px;
 margin-bottom: 50px;
}

.hero-text p{
margin-bottom: 95px;
}
.hero-text a{
background-color: #3D37F1;
padding: 20px 60px;
color: #ffffff;
border-radius: 30px;
font-size: 22px;
display: inline-flex;
box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
-webkit-box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
-moz-box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
}
.hero-text a i{
    color: rgb(224, 153, 21);
}
.hero-section{
    margin-bottom: 133px;
    margin-top: 230px;
}
.hero-image{
    display: flex;
    justify-content: flex-end;
    margin-right: -97px;
}
.wave-me img{
    margin-right: 10px;
}

/*-- Section=1 End  Landing page part-1 etc comment */

/*  Section=2 start  Part-2 (Our services-We Provide Best Quality Service ) etc comment */

.secTitle{
    text-align: center;
    margin-bottom: 60px;
    
}
.secTitle h2{
    margin-bottom: 30px;
    font-size: 40px;
    position: relative;
    padding-bottom: 2px;
    color: #534D4D;
}
.secTitle h6{
    font-size: 15px;
    margin-bottom: 15px;
    color: #3D37F1;
}

.secTitle p{
    width: 550px;
    margin: auto;
    line-height: 25px;
    font-size: 15px;
    color: #534D4D;
}



#services{
    background: #f5f6f6;
}

.sboxWrapper{
    overflow: hidden;
    column-count: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 30px;
    margin-left: 60px;
    float: left;
    
}
.singleBox{
    width: 200px;
    background: white;
    padding: 15px;
    float: left;
    cursor: pointer;
    margin-bottom: 60px;
    margin-left: 60px;
    text-align: center;
    
}


.singleBox{
    color: #FFFFFF;
    background-color: #FBBA77;
    width: 320px;
    height: 425px;
    
}

.singleBox h2{
    
    font-size: 20px;
    letter-spacing: -1.1px;
    color: #ffffff;
    line-height: 28px;
   
    margin: 20px 0px;  
}
.sboxIcon {
 
    margin-top: 60px;
    margin-bottom: 40px;
}

.sboxactive{
    background-color: #41EAE3;
}

.sboxactive1{
    background-color: #69529F;
}
.sboxactive2{
    background-color: #69529F;
}
.sboxactive3{
    background-color: #A5A2F6;
}
.sboxactive4{
    background-color: #FF8088;
}
.singleBox .sboxLink a{
    margin-top: 15px;
    background-color: #3D37F1;
padding: 8px 15px;
color: #ffffff;
border-radius: 30px;
font-size: 18px;
display: inline-flex;
box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
-webkit-box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
-moz-box-shadow: 0px 15px 30px -15px rgba(61,55,241,0.75);
}
/*  Section=2 End  Part-2 (Our services-We Provide Best Quality Service ) etc comment */

/*  Section=3 start  Part-3 (Know About UiExpert) etc comment */


#ourTeam{
    height: 800px;
    display: block;
}

.teamImage{
    width: 510px;
    height: 380px;
    background-image: url(../images/about.png);
    float: left;
    
    margin-left: 100px;
   
}

.teamDetails{
    float: left;
    width: 530px;
    margin: 100px 135px;
    margin-right: 38px;
}

.titleDesc h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.titleDesc p{
   color: #666;
   line-height: 25px;
   margin-bottom: 29px;

}

/*  Section=3 End  Part-3 (Know About UiExpert) etc comment */

/*  Section=4 start  Part-4 (Say Hello To Us!) etc comment */

#Team{
    float: left;
    overflow: hidden;
   
}


.secTitle1{
    text-align: center;
    margin-bottom: 120px;
    margin-left: -100px;
    
}
.secTitle1 h1{
    margin-bottom: 40px;
    font-size: 45px;
    position: relative;
    padding-bottom: 35px;
    margin-top: 100px;
    padding-left: 20px;

}
.secTitle1 h1::after{
    position: absolute;
    background: #f0e7e3;
    bottom: 0;
    width: 70px;
    content: "";
    border-bottom: 4px solid #383736;
    left: 43.5%;
    transform: translate(50%);
    margin-top: 80px;
    
   
}
.secTitle1 p{
    width: 540px;
    margin: auto;
    line-height: 25px;
    font-size: 18px;
    color: #666;
    padding-left: 10px;
}

.fbox{
 
    float: left;
    overflow: hidden;
    margin-left: 290px;
    width: 500px;
}
.contacts img{
    float: left;
    margin-right: 10px;
}

.contacts p{
    margin-right: 10px;
    padding: 10px ;
    margin-left: 18px;
}

.commentBox input{
  background-color: #F8F8F8;
  width: 340px;
  border: 1px solid #707070;
  padding: 18px;
  margin: 20px;
  float: left;
  height: 40px;
  margin-right: 170px;
  margin-top: -20px;
  margin-left: -80px;
  text-align: start;
 

}
.commentBox input[type=email]{
    
    height: 70px;
    text-align: left;
}



.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 705px;
  }
  .button1 {background-color: #300eac;} /* Green */

 
/*  Section=4 End  Part-4 (Say Hello To Us!) etc comment */

/*  Section=5 Start  Part-5 (Image!) etc comment */


.postImage img{

width: 230px;
float: left;
height: 230px;
column-count: 1;
padding: 10px;
margin-left: 15px;

}
/*  Section=5 End  Part-5 (Image!) etc comment */

/*  Footer start  Part-6 (copyrighttext!) etc comment */

.copyrightText{
    width: 540px;
    float: left;
    padding: 25px 0px;
    text-align: center;
    margin-left: 440px;
}

/*  Footer start  Part-6 (copyrighttext!) etc comment */


